@import "tailwindcss";

@font-face {
  font-family: "Noto Serif TC";
  src: url("/fonts/NotoSerifTC-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Noto Serif TC";
  src: url("/fonts/NotoSerifTC-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Fira Code";
  src: url("/fonts/FiraCode-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}


[data-highlight] {
  cursor: pointer;
}

[data-highlight]:hover {
  background-color: #ffd666;
}

/* 全局 */
::selection {
  background: rgba(250, 122, 3, 0.3);
  color: inherit;
}

/* 或者只针对 markdown 区域 */
.markdown ::selection {
  background: rgba(15, 15, 15, 0.3);
}