@import "tailwindcss";

@font-face {
  font-family: "Noto Serif TC";
  src: url("/fonts/NotoSerifTC-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Noto Serif TC";
  src: url("/fonts/NotoSerifTC-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Fira Code";
  src: url("/fonts/FiraCode-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
